.button{
    background: var(--purple);
    color: var(--white);
    font: var(--button);
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    padding-block-start: 10px;
    padding-block-end: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 10px;
    border: none;
    text-decoration: none;
    text-align: center;
    border: solid 1px red;
    
}

.caja-button :hover{
    background: red;
    
}


.caja-button{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 15px;
    
    border-radius: 10px;
    background: rgb(61, 61, 61);
}


@media screen and (min-width:768px){
    .caja-button{
        flex-direction:row ;
    }