@import "ind_styles.css";

body {
  background: url(../img/backgroung.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.692);
  backdrop-filter: blur(50px);
  width: 500px;
  height: 70%;
  border-radius: 0px 0px 30px 20px;
}

.logo {
  width: 250px;
  margin-top: 50px;
}

.logo-content p {
  display: flex;
  flex-wrap: wrap;
  font: var(--button);
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  margin-top: 30px;
  color: var(--cafe);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form input {
  width: 250px;
  height: 20px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  border: none;
}

.form .password {
  background: var(--gray);
}

.recordar {
  display: grid;

  align-items: center;
  border: solid red 1px;
}

.recordar p {
  display: flex;
  justify-content: center;
  color: aqua;
  padding: 0 50px;
  font-size: 15px;
  color: var(--orange);
}

.cortar-cabello {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.cortar-cabello .a {
  padding: 10px;
  margin: 5px 0px;
  width: 150px;
  border-radius: 50px;
  background: var(--cafe);
  color: var(--white);
  border: none;
}

.cortar-cabello .b {
  padding: 10px;
  margin: 5px 0px;
  width: 150px;
  border-radius: 50px;
  color: var(--cafe);
  border: 1px solid var(--cafe);
}

.redes p {
  font: var(--button);
  color: var(--orange);
  padding-top: 10px;
  padding-bottom: 10px;
}

.redes h1 {
  display: flex;
  justify-content: center;
  font: var(--button);
  color: var(--orange);
  padding-top: 10px;
  padding-bottom: 10px;
}

.no p {
  font: var(--button);
  color: var(--orange);
  position: relative;
  top: -15px;
}
