<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  
  
  
  
  <link rel="stylesheet" href="../css/example.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  
  
  <div class="row"> 
    
    
    <div class="example-2 card">
      <div class="wrapper">
        <div class="header">
          
          <ul class="menu-content">
            <li>
              <a href="#" class="fab fa-whatsapp"><span>3122716185</span></a>
            </li>
            <li><a href="#" class="fas fa-phone"><span>448 5577</span></a></li>
            <li><a href="#" class="fas fa-ellipsis-h"><span>+ info</span></a></li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            
            <div class="content-info">

              <div class="barber-img">
                <img src="../img/cabello.jpg">
                <p>Abierto</p>
              </div>

              <div class="barber-info">
                <span class="barber">Barberia del Norte</span>
                <h1 class="puntuacion"><a href="#"> <i class="fas fa-star"></i>4.3</a></h1>
                <h1 class="dir"><a href="#">Carrera 2 # 17 - 17 <br> Horario 08:00 a.m - 6:00 p.m</a></h1>
              </div>

              <div>
                
              </div>

            </div>

            
            <p class="text">Un corte de pelo con estilo Grandes Dctos</p>
            <a href="#" class="button">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>