<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

  <head>
    <link rel="icon" type="image/png" href="../img/favicon_barber_copy.png" sizes="32x32">
    <link rel="stylesheet" href="../css/home.css" />
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <title>Home</title>
  
  </head>

  <body>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <img class="logo_barber" src="../img/logo_barber.png" alt="" />
          <div class="logo_name"></div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav_list">
        <li>
          <i class="bx bx-search"></i>
          <input type="text" placeholder="Search..." />
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Noticias</span>
          </a>
          <span class="tooltip">Noticias</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-user"></i>
            <span class="links_name">Promociones</span>
          </a>
          <span class="tooltip">Promociones</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-chat"></i>
            <span class="links_name">Descuentos</span>
          </a>
          <span class="tooltip">Descuentos</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Tendencias</span>
          </a>
          <span class="tooltip">Tendencias</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-folder"></i>
            <span class="links_name">Novedades</span>
          </a>
          <span class="tooltip">Novedades</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cart-alt"></i>
            <span class="links_name">Primer Corte Gratis</span>
          </a>
          <span class="tooltip">Primer Corte Gratis</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-heart"></i>
            <span class="links_name">Cuenta</span>
          </a>
          <span class="tooltip">Cuenta</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Pedir turno</span>
          </a>
          <span class="tooltip">Pedir turno</span>
        </li>
      </ul>
      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <img src="profile.jpg" alt="" />
            <div class="name_job">
              <div class="name">Citas</div>
              <div class="job">Citasr</div>
            </div>
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
        </div>
      </div>
    </div>

    <div class="home_content">
      <div class="content">

        <div class="hola">
          <span>Bienvenido Martes 24, Abril 2021 08:00 a.m.</span>
          <p class="deseas" >Hola, que servicio deseas</p>

          

          <div class="content_category">       

            <div class="cat" >
            <img src="../img/cabello.jpg">
            <p>Corte de cabello</p>
            </div>

            <div class="cat" >
              <img src="../img/barba.jpg">
              <p>Barba</p>
              </div>

              <div class="cat" >
                <img src="../img/manicure.jpg">
                <p>Manicure Pedicure</p>
                </div>

                <div class="cat" >
                  <img src="../img/cejas.jpg">
                  <p>Cejas</p>
                  </div>

                  <div class="cat" >
                    <img src="../img/ellas.jpg">
                    <p>Para Ellas</p>
                    </div>
                    <div class="cat" >
                      <img src="../img/Recurso 8.png">
                      <p>Ver mas</p>
                      </div>
          
          </div> 



          <div  class="content_promo"  style="width: 100%;">
            <div class="dctos" style="width: 50%;">
              <p>Descuentos</p>
            </div>

            <div class="dctos" style="width: 50%;">
              <p>tendencias</p>
            </div>

          </div>
          
          <div >
          <p class="elige" >Elige un corte de pelo con estilo</p>
        </div>

          <div  class="barberias" ">
         
            <div >
              <img src="../img/norte.jpg"  
              class="barberia_norte"   alt=""> 

              <div>
                numeros
              </div>

            </div> 

          </div>



      </div>
    </div>
  </body>
  <script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    let searchBtn = document.querySelector(".bx-search");

    btn.onclick = function () {
      sidebar.classList.toggle("active");
      if (btn.classList.contains("bx-menu")) {
        btn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else {
        btn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    };
    searchBtn.onclick = function () {
      sidebar.classList.toggle("active");
    };
  </script>

</html>
