<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="../css/ini_styles.css">

</head>
<body>
    <section class="content">
        <div class="logo-content">
            <img class="logo" src="/img/logo_barber_dartk.png" alt="logo barber">
            <p>Inicie Sesion</p>
        </div>
        <div>
            <label for="">nombre</label>
            <input   type="text">

            <label for="">pasword</label>
            <input type="password">
            
        </div>
        <div>            
            <label for="">Recordarmes</label>
            <input type="checkbox">
            <p>Olvide mi clave</p>
        </div>
        <div>
            <button>CORTAR CABELLO</button>
            <button>Registrarme</button>
            <p>ingresa tambien con</p>
        </div>
        <div>
            logos redes
        </div>
    </section>
    <div>
        <p>No, Llèvame de nuevo con mamá</p>
    </div>
</body>
</html>