<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="../css/ini_styles.css">

</head>

<body>
    <section class="content">
        <div class="logo-content">
            <img class="logo" src="/img/logo_barber_dartk.png" alt="logo barber">
            <p>Inicie Sesion</p>
        </div>

        <div class="form">

            <input class="nombre" placeholder="Nombre" type="text">


            <input class="password" placeholder="password" type="password">

        </div>

        <div class="recordar">
            <input class="recordarme" type="checkbox">Recordarme</input>
            <p>Olvide mi clave</p>
        </div>

        <div class="cortar-cabello">
            <button class="a">CORTAR CABELLO</button>
            <button class="b">Registrarme</button>

        </div> 
        <div class="redes">
            <p>ingresa tambien con</p>
            <h1>logos redes</h1>
        </div>
    </section>
    <div class="no">
        <p>No, Llèvame de nuevo con mamá</p>
    </div>
</body>

</html>