<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="../css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

</head>

<body>
    <section class="content">
        <div class="logo-content">
            <img class="logo" src="/img/logo_barber_dartk.png" alt="logo barber">
            
        </div>

        <div class="logo-content">            
            <p>Formulario de Registro Usuario</p>
        </div>

        <div class="form">


            <div class="input-wrapper">
                <input placeholder="Nombre" id="stuff">
                <label for="stuff" class="fa fa-user input-icon"></label>
            </div>

            <div class="input-wrapper">
                <input  placeholder="Apellidos" id="stuff">
                <label for="stuff" class="fas fa-user-plus input-icon"></label>
            </div>

            <div class="input-wrapper">
                <input  placeholder="Movil" id="stuff">
                <label for="stuff" class="fas fa-mobile-alt input-icon"></label>
            </div>
            <div class="input-wrapper">
                <input  placeholder="Cedula" id="stuff">
                <label for="stuff" class="fas fa-id-card input-icon"></label>
            </div>
            <div class="input-wrapper">
                <input  placeholder="Correo" id="stuff">
                <label for="stuff" class="fas fa-envelope input-icon"></label>
            </div>
            <div class="input-wrapper">
                <input  placeholder="Direccion" id="stuff">
                <label for="stuff" class="fas fa-map-marker-alt input-icon"></label>
            </div>

        </div>

        
        <div class="foto">
            <div class="enlaces" >
                <a class="a" href="http://">Subir Fotografia</a>
                <br>
                <br>
                <br>
                <a class="b" href="http://">Remplazar foto</a>
            </div>
            <div>
                <img src="../img/user.png" alt="">
            </div>
        </div>
        <div class="ingresar" >
            <a class="a" href="#">Registrar</a>
            <a class="b" href="../index.html">Olvide que hago aqui</a>
        </div>

</body>




<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>

</html>